.vl {
  border-left: 6px solid #ffffff;
  height: 350px;
  margin-left: 80px;
  margin-top: -10px;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  margin-left: 70px;
  margin-top: 80px;
}

/* ABOUT THING */

#about-text-container {
  margin-left: 150px;
}

#header-about h1 {
  margin-top: -340px;
}

.decor-section-last-in-container {
  margin-top: -80px;
}

/* END ABOUT THING */

/* FRONT END THING */

.front-end {
  margin-top: 100px;
}

.decor-section-second {
  margin-top: 100px;
}

#header-about-one h1 {
  margin-top: -330px;
}

.decor-section-last-in-container-front {
  margin-top: -50px;
}

/* END FRONT END THING*/


/* 3D & ANIMATIONS */

.decor-section-one {
  margin-top: 30px;
}

.animation-section {
  margin-top: 100px;
}

.decor-section-last-in-container-animation {
  margin-top: -50px;
}

/* END 3D & ANIMATIONS */

/* PHOTO AND VID */

.photo-video-section {
  margin-top: 100px;
}

/* END PHOTO AND VID */

/* BLOG THING */

.content-creation-section {
  margin-top: 100px;
}

/* END BLOG THING */

/* MARKETING */

.marketing-section {
  margin-top: 100px;
}

/* END MARKETING */

#paragraph-about, #paragraph-about-one, #paragraph-about-twice {
  width: 1200px;
  text-transform: capitalize;
}

#header-about-twice h1, #header-about h1, #header-about-one h1, .about-me-page-main-header h1 {
  font-family: "Whisper", cursive;
}

#header-about-twice h1 {
  margin-top: -690px;
}

.marketing-section, .decor-section-last {
  margin-bottom: 300px;
}

.decor-section-last {
  margin-top: 40px;
}

.about-me-container {
  margin-top: 50px;
}

.about-me-page-main-header {
  text-align: center;
  margin-top: 50px;
}

.about-me-page-main-header h1 {
  font-size: 50px;
}