.certicate-only {
    display: flex;
}

.certicate-only img {
    width: 300px;
    border-radius: 20px;
}

.container {
    display: none;
  }

.certicate-only {
    margin-left: 40%;
}

#title-container {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: "Whisper", cursive;
}

#title-container h1 {
    font-size: 40px;
}

.other-certificates-container {
    padding-bottom: 250px;
}